.cards-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  height: 70px;
  width: 100px;
}



.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100vh;
}

@media (max-width: 700px) {
  .cards-grid {
    grid-template-columns: 150px 150px;
  }

  .main-div {
    height: 100vh;
  }
}

@media (max-width: 320px) {
  .cards-grid {
    grid-template-columns: 150px;
  }

  .main-div {
    height: auto;
  }
}